<center><h1> Python Basics</h1></center>

![image.png](https://pythonawesome.com/content/images/2019/09/Edward2.jpg)

In [2]:
from IPython.display import YouTubeVideo
YouTubeVideo('https://www.youtube.com/watch?v=izgBmCnp1Oc&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=1',width=600,height=300)

Python is emerging as the popular language used more in data science applications.

Take the case of the tech giant Google that has created the deep learning framework called tensorflow – Python is the primary language used for creating this framework. Its footprint has continued to increase in the environment promoted by Netflix. Production engineers at Facebook and Khan Academy have for long been using it as a prominent language in their environment.

Python became the most popular language in the data science world.
So what are you waiting for? Lets start learning python basic as your first assignment.


Add-on Reference: https://youtu.be/HGOBQPFzWKo

Add-on reference: https://youtu.be/8DvywoWv6fI


## Variable declaration

Covers the topic of variable declaration and type of variables

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [4]:
#1 Variables

a=YouTubeVideo('https://www.youtube.com/watch?v=YdDfEbaUPJs&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=2',width=600,height=300)
print(a)

<IPython.lib.display.YouTubeVideo object at 0x7f3325f50a50>

In [5]:
#2 Variables

b=YouTubeVideo('https://www.youtube.com/watch?v=gOcRxdGovhc&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=3',width=600,height=300)
print(b)

<IPython.lib.display.YouTubeVideo object at 0x7f3325ed3190>

In [ ]:
# declare two variables, a = 5, b = 'city'
a =5 # your code here
b ='city' # your code here

In [ ]:
# print type of a
print(type(a))

In [ ]:
# print type of b
print(type(b))

In [6]:
# swap the values of a and b
# hint, if a = 3 and b = "cloudyML" then u can swap values like this

a = 3
b = "cloudyML"
temp = a # defined a temporary variable and store value of a in temp
a = b # swap
b = temp # give value of a stored in temp to b

In [7]:
# run this to confirm 
print('The value a after swapping: {}'.format(a))
print('The value  b after swapping: {}'.format(b))

The value a after swapping: cloudyML
The value  b after swapping: 3

Cool! so variable declaration and getting it's type was easy.

In [8]:
#3 Data Structure

a=YouTubeVideo('https://www.youtube.com/watch?v=R0yDN07Jw_c&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=4',width=600,height=300)
print(a)

<IPython.lib.display.YouTubeVideo object at 0x7f331d5c63d0>

## Arithmetic Operations

Hey novice! this will be easy for you until you know basic arithmetic symbols like +, -, /, * etc.


<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [9]:
#4 Operators
a=YouTubeVideo('https://www.youtube.com/watch?v=kj-UnITecRE&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=10',width=600,height=300)
print(a)

<IPython.lib.display.YouTubeVideo object at 0x7f331e979a90>

In [10]:
# declare two variables, a = 24, b = 3

a =24 # your code here
b =3 # your code here
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [11]:
print(a+b)

27

In [12]:
# calculate and print all the possible numerical operations on a and b (There are total 7 operations)
# You can use string formatting to get the exact output like ours.
# hint: print("a + b = {}".format(a+b))
print("a+b={}",format(a-b))

a+b={} 21

## Math Functions

Lets do some simple mathematical operations by using math module. Math module contains various mathematical functions. So here we go!

Additional Reference:- https://youtu.be/gktjNyV0xks

Reference document: https://docs.python.org/3/library/math.html
<p style='text-align: right;'> 10 points </p>

In [13]:
import math

In [19]:
# declare a variable x = 2 and y=5.32167
x=2
y=5.32167

In [ ]:
# Print the maximum value between x and y
max(x,y)

In [ ]:
# Print the minimum value between x and y
min(x,y)

In [20]:
# Print square and cube of x and store in a and b variable
a=math.sqrt(x)
b=(x**3)
print(a)
print(b)

1.4142135623730951
8

In [17]:
#print log of x and store it in variable c
c=print(math.log(x))

0.6931471805599453

In [21]:
#print maximum value between x,y,a, b and c
x=2
y=5.32167
a=1.4142135623730951
b=8
c=0.6931471805599453
print(max(x,y,a,b,c))

8

In [26]:

#print the largest integer that is smaller than or equal to c. ie.round down



print(math.floor(c))

0

In [27]:
#print the smallest integer that is greater than or equal to c ie. round up
print(math.ceil(c))

1

## Logical operations

You must be aware of some logical operations you did in college, like 'and', 'or', 'not' etc. These operations becomes even more easy to implement when you have friend like python.

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [ ]:
# declare two variables, a = True, b = False
a = True #your code here
b = False#your code here
print(a)
print(b)

In [ ]:
# print type of a and type of b
print(type(a))
print(type(b))

A fun fact for you !
The Python Boolean type is one of Python's built-in data types. It's used to represent the truth value of an expression

In [ ]:
# print int(a) and int(b)
print(int(a))
print(int(b))

We are sure you must have seen that, values for 'True' is 1 and for 'False' is 0.

In [ ]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
# Use not operator for not a and not b
print(not(a))
print(not(b))
print(a and b)
print(a or b)
print(a and not b)

We hope you tried to undertand the above output!

## List Comprehensions

Hey buddy! Python has really amazing thing called list comprehension. List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. Cool right? Let's dive into this more by doing it. 

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [29]:
# Comprehension
YouTubeVideo=['https://www.youtube.com/watch?v=Cs8wG--s4z4&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=17',width=600,height=300]
print(YouTubeVide)

SyntaxError: ignored

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20. 
# Hint: You can use range function of python to do this.
for i in range(1,20):
  print(i)

In [ ]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even
a=[ele for ele in range(20) if ele%2==0]
print(a)

Create a list of all the fruits you like. Using list comprehension, create another list which contains the total number of charachters for each corresponding fruits.
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [ ]:
fruits =['mango','apple','banana','vimal','orange'] # your code here (create a list of your favourite fruits)
len_fruits =[5,5,6,5,6] # your code here

print(fruits)
print(len_fruits)

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

Amazing right?

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

In [ ]:
# string manipulation
a=YouTubeVideo('https://www.youtube.com/watch?v=I6UH_prRboE&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=9',width=600,height=300)
print(a)

### Characters in strings


Reference:- https://www.programiz.com/python-programming/string

In [ ]:
# declare the variables x = cat and y = dog and print it
x = 'cat' #your code here
y ='dog' #your code here

print(x)
print(y)

In [ ]:
#Print first character of both x and y. 
print("First ch of x:",x[0])
print("First ch of y:",y[0])

In [ ]:
#Print last character of both x and y.
print("last ch of x:",x[2])
print("last ch of y:",y[2])

In [ ]:
#Print len of both x and y
print("Length of x is",len(x))
print("Length of y is",len(y))

In [ ]:
#concatenate both x and y and store it in variable z and print z
z=x+y
print(z)

In [ ]:
#check if x is part of z 
x in z

### String slicing



Hey coder, do you know? Python slicing is about obtaining a sub-string from the given string by slicing it respectively from start to end

So be ready to implement it today!
<p style='text-align: right;'> 2 points </p>

In [ ]:
#Create variable a = “pineapple”
a ="pineapple" # your code here
print(a)

In [ ]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
a[0:3]
a[ 4:9 ]

In [ ]:
#Convert a into upper case
a.upper()

## Dealing with Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [ ]:
# Declare a sentence of ‘I am flying to London’ and print it
a='I am flying to London'
print(a)

In [ ]:
#Print length of the sentence
print(len(a))

In [ ]:
#Using list indexing, to print the word London
a[15:21]

In [ ]:
# Use .split to get list of individual words in the sentence
a.split()

In [ ]:
# Convert sentence in lower case 
a.lower()

In [ ]:
# Convert sentence in upper case .
a.upper()

Great job! Slicing is fun.

## Functions

Declare a function named square, which takes an input as x, and returns the square of x.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [ ]:
# Functions-1
a= YouTubeVideo('https://www.youtube.com/watch?v=cjtAbp-Ux-w&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=15',width=600,height=300)
print(a)

In [ ]:
# Function-2
a=YouTubeVideo('https://www.youtube.com/watch?v=cjtAbp-Ux-w&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=16',width=600,height=300)
print(a)

Call the function to find the value of square of 9.

In [38]:
# find the square of 9 using the function square you have just created.
x=9
def square(x):
  x=9
print(x*9)


    # find the square of 9 using the function square you have just created.

81

Wohoo! see, defining function was simple

#### Define another function which checks whether a given is number is odd or even for a given input and it should print whether the  number is odd or even as an output
<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [37]:
# your code here
num=int(input("Enter number:"))
def display(num):
  if num%2==0:
    print("Even")
  else:
    print("odd")
obj=display(num)

Enter number:2
Even

Hey smarty! lets use both the functions together to check whether the square of 3,6 and 21 are odd or even.

In [40]:
 # your code here
num=int(input("Enter number:"))
def square(num):
    
    if num%2==0:
        print(" even")
    else:
        print("odd")
print(num*num)
obj=square(num)

Enter number:3
9
odd

hey hey! You did a great code. Did you see the benefit of using functions

# Loops and Iterations

## If statement

<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [30]:
# conditions
a=YouTubeVideo('https://www.youtube.com/watch?v=CLqw5KZZ8Dg&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=11',width=600,height=300)
print(a)

<IPython.lib.display.YouTubeVideo object at 0x7f331d4ee050>

In [ ]:
#Declare a variable x equal to a number of your choice.
#your code here
x = 5 # add a number of your choice (mine is 3 :) )
print(x)

In [41]:
#Using an if statement, print whether x is zero, positive or negative.
if x!=0:
  print("Positive")
else:
  print("negative")

Positive

In [43]:
# Now Define a function, which takes input from the user and prints whether the given input is zero,positive or negative.
check_num=int(input("Enter a number:"))
def display(): 
    if check_num >=0:
       print("postive")
    elif check_num<=0:
       print("negative")
    else:
        print("Zero")
obj=display()

Enter a number:-6
negative

## For loop

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Loops
A=YouTubeVideo('https://www.youtube.com/watch?v=56-IOucIwAU&list=PLsR_0x6BuM-HJZT6Xzj-088N4hN3KsDME&index=12',width=600,height=300)
print(a)

In [ ]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
x=['India','Israel','canada']

In [ ]:
#Using For loop, iterate over the list and print the elements.
for ele in (x):
  print(ele)

<p style='text-align: right;'> 2 points </p>

In [ ]:
# Using For loop, print the table of 2.
num=2
for i in range(1,11):
    print(num, 'x',i ,'=', num*i)

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [44]:
#code here
# hint: use if type(i) == int: condition to print variable which are of int type
x=[21,'hello','cream',20,19,'village']
for i in x:
   if type(i)==int:
    print(i)

NameError: ignored

Using For loop, lets create a pattern.

<p style='text-align: right;'> 10 points </p>

In [ ]:
# print the following pattern
for i in list():
  print()

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [ ]:

def count(n):
    i=0
    while i<n:
        print(i)
        i=i+1
    
n=int(input("Enter a number"))
count(n)

In [ ]:
 def counter(n):
    i=0
    while i<n:
        print(i)
        i=i+1
 counter(10) #this should print numbers from 1 to 10

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

In [1]:
# your code here
flag=True
num=5
while num>=50:
  print(num)
  num=num+5

Awsesome! Great job so far. Hope you fell in love with python now.

----------------------------------------------------------------------

# Smile, you completed the first milestone :)!!

# Its Feedback Time!

We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

**Please fill this feedback form**
 https://zfrmz.in/MtRG5oWXBdesm6rmSM7N
 
-------------------------------------