# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=b3O9qI5dcHE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=10

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'
a=[]

In [1]:
# print the value of a
print(a)

NameError: ignored

In [ ]:
# print the type of a
print(type(a))

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [4]:
#code here
list=['R','Python', 'SAS', 'Scala', 42]
print(list)

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
#code here
print(len(list))

5

Using for loop iterate and print all the elements in the list

In [7]:
#code here
for ele in list:
  print(ele)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [9]:
#code here
temp='Python'

Print the value of temp and type(temp)

In [10]:
#code here
print(temp)
print(type(temp))

Python
<class 'str'>

Using list comprehension, print the last two elemets of list

In [11]:
# code here
list=['Scala',42]
print(list)

['Scala', 42]

Append the element 'Java' in the list

In [15]:
#code here
list.append('Java')
list

['Scala', 42, 'Java', 'Java', 'Java']

Remove the element 42 from the list and print the list

In [16]:
#code here
list.remove(42)
list

['Scala', 'Java', 'Java', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [18]:
#code here
colors = ['Red', 'Blue', 'White']
colors

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [20]:
#code here
colors.append('Black')
colors

['Red', 'Blue', 'White', 'Black', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [22]:
# code here
list.insert(1,'Orange')

Print the list

In [23]:
# code here
print(list)

['Scala', 'Orange', 'Java', 'Java', 'Java']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [25]:
# code here
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [27]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [29]:
# code here
print(colors)
print(len(colors))

['Red', 'Blue', 'White', 'Black', 'Black', 'Grey', 'Sky Blue', 'Grey', 'Sky Blue']
9

Sort the list and print it.

In [31]:
# code here
colors.sort()
colors

['Black',
 'Black',
 'Blue',
 'Grey',
 'Grey',
 'Red',
 'Sky Blue',
 'Sky Blue',
 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [33]:
# code here
s="Coronavirus Caused Lockdowns Around the World"
s.split()

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'the', 'World']

Use split function to convert the string into a list of words and save it in variable words and print the same

In [34]:
# code here
s.split()

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'the', 'World']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [35]:
# code here
s.lower()

'coronavirus caused lockdowns around the world'

Check whether ‘country’ is in the list

In [38]:
# code here
a='country'
a in s

False

Remove the element ‘the’ from the list and print the list.

In [ ]:
# code here

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [40]:
#code here
a=s.split()
a.remove('the')
a

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World']

In [42]:
# print x4
print(a[0:4])

['Coronavirus', 'Caused', 'Lockdowns', 'Around']

Convert the list of elements to single string using join function and print it

In [43]:
#code here
str(s)

'Coronavirus Caused Lockdowns Around the World'

## 2. Sets

Reference:-https://www.youtube.com/watch?v=B7dPo44o5jA&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=12

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [45]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [46]:
#code here
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [49]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [50]:
#code here
print(stud_grades_set)

{'A', 'B', 'F', 'C'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [51]:
#code here
print(type(stud_grades))
print(type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‘G’ to stud_grades_set

In [53]:
#code here
stud_grades_set.add('G')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [54]:
#code here
stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [59]:
#code here
stud_grades_set.discard('F')
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [60]:
#code here
stud_grades_set
print(len(stud_grades_set))

4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [62]:
#code here
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [63]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [65]:
#code here
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'orange', 'blue', 'red'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [66]:
#code here
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [67]:
#code here
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [68]:
#code here
colors_set.difference(fruits_set)

{'blue', 'red'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=aMGPLCzTvmE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=11

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [100]:
#code here
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [101]:
#code here
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [105]:
#code here
temp.insert(1,11)
temp

[17, 11, 'Virat', 50.0, 1, 1]

Set temp1 = tuple(temp)

In [106]:
#code here
set_temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [108]:
#code here
for i in set_temp1:
  print(i)

17
11
Virat
50.0
1
1

replace first element with 17 in temp1

In [ ]:
#code here

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [110]:
#code here

Create_city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [111]:
#code here
Create_city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [112]:
#code here
Create_city2 = ("chennai", 30.01, 74)

Create cities which consist of city and city2

In [113]:
#code here
cities=((Create_city),(Create_city2))

Print cities

In [114]:
#code here
print(cities)

(('Bangalore', 28.9949521, 72), ('chennai', 30.01, 74))

Print type of first element in cities

In [117]:
#code here
type(cities[1])

tuple

print the type of cities

In [118]:
#code here
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=U3e-L1WSSzQ&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=13

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [70]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [74]:
#code here
d['actor']

'amir'

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [77]:
#code here
d['actor']

'amir'

Print the type of actor

In [79]:
#code here
print(type('actor'))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [80]:
#code here
i=d['list']

Print the type of l.

In [81]:
#code here

print(i)

[23, 32, 12]

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [83]:
#code here
d1 = { 'singer' : 'Kr$na', 'album’: ‘Still here’, ‘genre' : 'hip-hop'}

Merge d1 into d.

In [90]:
#code here
def Merge(d1,d):
  return (d,d1)
print(Merge(d1,d))
print(d1)

({'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}, {'singer': 'Kr$na', 'album’: ‘Still here’, ‘genre': 'hip-hop'})
{'singer': 'Kr$na', 'album’: ‘Still here’, ‘genre': 'hip-hop'}

print d

In [91]:
#code here
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print all the keys in d

In [92]:
#code here
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list'])

Print all the values in d

In [93]:
#code here

d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12]])

Iterate over d, and print each key, value pair as given in output

In [98]:
#code here
d
for i in d:
  print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}
{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}
{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}
{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [122]:
#code here
sent = "Coronavirus Caused Lockdowns Around The World."
for i in sent:
  print(i)
i=i.count(sent)
print(sent)

C
o
r
o
n
a
v
i
r
u
s

C
a
u
s
e
d

L
o
c
k
d
o
w
n
s

A
r
o
u
n
d

T
h
e

W
o
r
l
d
.
Coronavirus Caused Lockdowns Around The World.

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N